.well
  %h2= current_page_title
  %p
    An example with an autoreloading grid with detached filters.

= show_code

= render   'grid'


.row
  .col-md-2
    ID:
  .col-md-10
    = grid_filter @tasks_grid, :id

.row
  .col-md-2
    Title:
  .col-md-10
    = grid_filter @tasks_grid, :title

.row
  .col-md-2
    Archived:
  .col-md-10
    = grid_filter @tasks_grid, :archived


.row
  .col-md-2
    Status:
  .col-md-10
    = grid_filter @tasks_grid, :status_id

.row
  .col-md-2
    Project:
  .col-md-10
    = grid_filter @tasks_grid, :project_id


.row
  .col-md-2
    Due date:
  .col-md-10
    = grid_filter @tasks_grid, :due_date


.row
  .col-md-2
    Added:
  .col-md-10
    = grid_filter @tasks_grid, :created_at


.row
  .col-md-12
    .external-buttons
      %button.btn.btn-default.wg-external-reset-button{'data-grid-name' => 'grid'} Reset

.row
  .col-md-12

    = render_grid(@tasks_grid)
