!!! 5
%html
  %head
    %title WiceGrid Examples
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body


    .container-fluid

      %header
        %h1 WiceGrid 3.6.0.pre4 examples
        .example-navigator
          %ul.pager
            - previous_example_controller, next_example_controller = previous_next_example_urls
            - if previous_example_controller
              %li.previous
                =link_to "← Previous", controller: previous_example_controller, action: :index
            -if next_example_controller
              %li.next
                =link_to "Next →", controller: next_example_controller, action: :index
        .clear


      .row-fluid
        .col-md-3
          .well
            %ul.nav.nav-pills.nav-stacked

              - @example_map.each do |title, examples|

                %li.nav-header= title

                - examples.each do |example_controller, name, _|
                  - if example_controller.to_s == controller_name
                    - active_klass = 'active'

                    - @example_name = name
                  - else
                    - active_klass = nil
                  %li{class: active_klass}
                    = link_to name, controller: example_controller, action: :index
        .col-md-9
          =yield



      %hr

      %footer
        &copy; Yury Leikind 2012 - 2015
        %span.sources
          %a{href: "https://github.com/leikind/wice_grid"} Sources

%a{href: "https://github.com/leikind/wice_grid"}
  %img{ style: "position: absolute; top: 0; right: 0; border: 0;;", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt: "Fork me on GitHub"}



