.well
  %h2= current_page_title
  %p
    An example of two grids with detached filters functioning independantly of each other.

= show_code

= render   'grid', tasks_grid: @grid1
= render   'grid', tasks_grid: @grid2

.row
  .col-md-2
    ID:
  .col-md-4
    = grid_filter @grid1, :id_filter
  .col-md-2
    ID:
  .col-md-4
    = grid_filter @grid2, :id_filter


.row
  .col-md-2
    Title:
  .col-md-4
    = grid_filter @grid1, :title_filter
  .col-md-2
    Title:
  .col-md-4
    = grid_filter @grid2, :title_filter



.row
  .col-md-2
    Description:
  .col-md-4
    = grid_filter @grid1, :description_filter
  .col-md-2
    Description:
  .col-md-4
    = grid_filter @grid2, :description_filter


.row
  .col-md-2
    Archived:
  .col-md-4
    = grid_filter @grid1, :archived_filter
  .col-md-2
    Archived:
  .col-md-4
    = grid_filter @grid2, :archived_filter


.row
  .col-md-2
    Due date:
  .col-md-4
    = grid_filter @grid1, :due_date
  .col-md-2
    Due date:
  .col-md-4
    = grid_filter @grid2, :due_date


.row
  .col-md-6
    .external-buttons-grid1
      %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'} Submit
      %button.btn.btn-default.wg-external-reset-button{'data-grid-name' => 'grid'} Reset

  .col-md-6
    .external-buttons-grid2
      %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid2'} Submit
      %button.btn.btn-default.wg-external-reset-button{'data-grid-name' => 'grid2'} Reset

%p

.row
  .col-md-6
    = render_grid(@grid1)

  .col-md-6
    = render_grid(@grid2)
