<%= paginator.render do %>
  <div class="pagination">
    <ul class="pagination">
      <% unless current_page.first? %>
        <%= prev_page_tag %>
      <% end %>
      <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? %>
          <%= gap_tag %>
        <% end %>
      <% end %>
      <% unless current_page.last? %>
        <%= next_page_tag %>
      <% end %>
    </ul>
  </div>
<% end %>